.weather-card {
    position: relative; /* To ensure content stays above the background */
    background-size: contain;
    // background-position: center;
    background-repeat: no-repeat;
  }
  
  .weather-card .mat-card-content {
    position: relative; /* Ensure the content stays above the background */
    z-index: 1;
  }
  
  .weather-card::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    // background-color: rgba(0, 0, 0, 0.3); /* Apply a dark overlay to the background */
    z-index: 0; /* Ensures that it stays behind the content */
  }
  